* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #121314;
}
/**/
a{
    color: #3d8ce6;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.font,
.ADHButton {
    font-family: "gg sans", "Noto Sans", "Segoe UI", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

.Header {
    height: 40px;
    width: 100%;
    display: flex;
    gap: 30px;
    background-color: #191a1b;
    border-bottom: 1px solid #363c42;
    text-align: right;
    line-height: 40px;
    box-sizing: border-box;
}

.HButton {
    display: inline-block;
    background-color: transparent;
    border: none;
    color: #a6a6a7;
    margin: 0px 0px 0px 10px;
}

.HButton:hover {
    display: inline-block;
    color: #dddddd;
    text-decoration: underline;
}

.AboutDesk {
    display: flex;
    width: 100%;
    min-height: 200vh;
}

.AboutDeskLeft,
.AboutDeskRight {
    width: 25%;
    flex-shrink: 0;
    background-color: #121314;
    color: #0b0b0c4d;
    ;
    /* color:#0b0b0c; */
    user-select: none;
    -webkit-user-select: none;
}

.AboutDeskLeft {
    text-align: left;
}

.AboutDeskRight {
    text-align: right;
}

.AboutDeskCenterBlanc {
    flex: 1;
    background-color: #121314;
    color: #dddddd;
}

.AboutDeskCenter {
    flex: 1;
    background-color: #191a1b;
    border: 1.5px solid #363c42;
    border-radius: 8px;
    color: #dddddd;
    margin: 20px 0px 20px 0px;
}

.center {
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.left {
    text-align: left;
    margin: 10px 10px 10px 10px;
}

.right {
    text-align: right;
    margin: 10px 10px 10px 10px;
}

.rl {
    writing-mode: vertical-rl;
    margin: 10px 10px 10px 10px;
}

.lr {
    writing-mode: vertical-lr;
    margin: 10px 10px 10px 10px;
}

.jfl {
    justify-content: flex-start;
    display: flex;
    margin: 10px 10px 10px 10px;
}

.jfr {
    justify-content: flex-end;
    display: flex;
    margin: 10px 10px 10px 10px;
}

.jfc {
    justify-content: center;
    display: flex;
    margin: 10px 10px 10px 10px;
}

.box {
    border: 1px solid #363c42;
    border-radius: 4px;
    background-color: #2c2e30;
    padding: 10px;
}

@media (max-width: 768px) {

    /*スマホ表示*/
    .AboutDeskLeft,
    .AboutDeskRight,
    .ADHLeft,
    .ADHRight {
        display: none;
    }
}

@media (min-width: 769px) {

    /* PC非表示 */
    .ADHHButton {
        display: none;
    }
}